* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: transparent;
    border-color: transparent;
    padding: 20px 100px 20px 100px;
    transition: background-color 0.3s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar p {
    font-size: 25px;
  }

.nav__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 45px;
}

/* Remove link decoration from word */
.nav__link {
    text-decoration: none;
    color: black;
}

.social__icon {
    width: 40px;
    padding: 0 10px 0 10px;
}

.home-div {
    display: flex;
}

.homeImg {
    width: 50%;
}

.homeImg img {
    width: 100%;
    height: 100%;
}

.homeDesc {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 120px 0 120px;
    gap: 80px;
}

.homeDesc p {
    font-size: 118px;
    font-weight: 700;
}

.homeDesc button {
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 10px 30px 10px 30px;
    border: 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 0px;
    background-color: #f8f8f8;
}

.services__title {
    font-size: 48px;
    font-weight: 600;
    color: #232323;
}

.services__hr {
    width: 100px;
    margin: 40px 0px;
}

.services__desc {
    padding-bottom: 40px;
    color: #444444;
}

.services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 30%;
    padding: 20px;
}

.card-scroll {
    display: flex;
    flex-direction: row;
    width: 70%;
    overflow-x: scroll;
    gap: 50px;
}

.serviceCardIcon {
    width: 30px;
    color: #585858;
}

.serviceCardTitle {
    font-size: 20px;
    padding: 0px 20px;
    font-weight: 400;
}

.serviceCardDesc {
    color: #585858;
}

.features {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.featuresDesc {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding-right: 150px;
}

.featuresImg {
    width: 50%;
}

.featuresImg img {
    width: 100%;
    height: 100%;
}

.features__title {
    font-size: 58px;
    font-weight: 600;
    color: #232323;
}

.features__hr {
    width: 100px;
    margin: 40px 0px;
}

.features__desc{
    padding-bottom: 40px;
    color: #444444;
}

.featureIcon {
    width: 30px;
    color: #585858;
}

.featureTitle {
    font-size: 26px;
    padding: 20px 0px;
    font-weight: 500;
}

.featureDesc {
    color: #585858;
    padding-bottom: 60px;
}